
html{
  text-align: center;
  background-color: #eee;
}

body{
  position:relative;
  font-family:lato;
  font-weight:lighter;
  display :inline-block;
  width : 15cm;
  max-width: 70%;
  margin:0;
  padding-bottom: 30vh;
 }

 section, header, footer{
  display:inline-flex;
  flex-direction: column;
  width: 100%;
  position:relative;
  background-color: #fff;
  margin:1.5em 0 1.5em 0;
  box-shadow: 1px 2px  4px #ddd;
  transition: box-shadow .3s ease-in-out;
  font-size: .9em;
  padding: 1.5em 0 1.5em 0;
}

header{
  padding:  2em 0 1em 0;
}


h1,h2,h3,h4, h5{font-weight: inherit; margin:0; font-size: inherit;}
h1{font-size: 2em}
h3{font-size: 1.2; margin: 2em;}
h4{margin: 1.5em;}
h5{margin: 1em 0 0 0}


section div , header div{
  display: none;
  margin: 0 2em  1em 2em;
}

section span, header div{
  display: block;
  text-align : justify;
  border-top:1px solid #ccc;
  padding:1em 0 1em 0 ;
}

section img{
  height:2em;
  margin-top: 1em;   
}

ul {
  list-style-type: '-     ';
  margin :0;
}

.link{
  border-top:1px solid #ccc;
  padding : .5em;
  display: block;
  color: #00a;
  font-size: .8em;
}

.link:hover{
  text-decoration: underline;
}


.show{
  display:block;
}

.detailed{
  cursor:pointer;
  background-image: url('img/nav/down.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: .7em .7em;
}
.detailed:hover{
  box-shadow: 1px 2px  4px #aaa ;
}


#misc section{
  display: none
}

#miscSlct {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 1em 0 1em 0 ;
}

#miscSlct span{
  flex-grow: 1;
  box-shadow: 0 0  2px #aaa ;
  min-width: 8em;
  background-color: white;
  cursor: pointer;
}
#miscSlct span:hover{
  box-shadow: inset 0 0 4px #888 ;
}

#miscSlct img, #services img{
  height: 2em;
  margin: 1em;
  pointer-events: none;

}

.bgImg{
  background-image: none ;
  width: 100% ;
}

a{
  text-decoration:none;
  color:inherit;
}

date{
  position:absolute;
  right:0em;
  top:-1.1em;
}
date:nth-of-type(2){
  position:absolute;
  left:0em;
  right: auto;
}


#contactCard img{
  height: 2em;
  margin: 1em 3em 1em 3em;
}


@media screen and (max-width: 10cm) {body {max-width: 95%;}}

#pdf{
-webkit-transition: -webkit-transform .3s ease-in-out;
transition: transform .3s ease-in-out;
}
#pdf:hover{
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}


.coursera{
  height: .8em;
  position:absolute;
  right :.5em;
  bottom:.5em;
  margin: 0;
}

#services{
 display: inline-flex;
 width: 100%;
 justify-content: space-between;
 margin: 1em 0 1em 0 ;
}

#services div{
  background-color: #fff;
  box-shadow: 1px 2px  4px #ddd;
  width: 49%;  
  /*flex-grow: 1;*/
}

#services h4{
  margin: 1em
}
