
html{
  text-align: center;
  background-color: #eee;
}

body{
  position:relative;
  font-family:lato;
  font-weight:lighter;
  display :inline-block;
  width : 15cm;
  max-width: 70%;
  margin-left :0;
  padding-bottom: 30vh;
 }

h1,h2,h3,h4{font-weight: inherit;}
h3{ margin-top :3em;}

description{
  display: none;
  text-align : justify;
  border-top:1px solid #ccc;
  margin-top:1em;
  padding-top:1em;
}

description a{
  
  border-top:1px solid #ccc;
  margin-top : 1em;
  padding-top : 1em;
  display: block;
  width: 100%;
  text-align : center;
  
}

.show{display:block;}

.detailed{
  cursor:pointer;
  background-image: url('nav/down.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: .7em .7em;
}

.detailed:hover{
  box-shadow: 1px 2px  4px #aaa ;
}


section, header{
  position:relative;
  padding:2em;
  background-color: #fff;
  margin:1em 0 2em 0;
  box-shadow: 1px 2px  4px #ddd ;
  font-size: .8em;
  transition: box-shadow .3s ease-in-out;
}

a{
  text-decoration:none;
  color:inherit;
}

date{
  position:absolute;
  right:0em;
  top:-1.1em;
}
.start{
  position:absolute;
  left:0em;
  right: auto;
}

img{height:3em;}
ul {
  list-style-type: none;
  margin :0;
}

#degrees section{
  display: inline-block ;
  padding:1em;
  margin:1em;
}

#contactCard img{
  height: 2em;
  margin: 1em 3em 1em 3em;
}


@media screen and (max-width: 10cm) {body {max-width: 95%;}}

#pdf{
-webkit-transition: -webkit-transform .3s ease-in-out;
transition: transform .3s ease-in-out;
}
#pdf:hover{
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}




.coursera{
  height: 1.2em;
  position:absolute;
  right :.5em;
  bottom:.5em;

}