#amandine	{clip-path: circle(4% at 17% 51%);}
#amelie		{clip-path: circle(4% at 45% 65%);}
#axel		{clip-path: circle(4% at 85% 48%);}
#charles_bis{clip-path: circle(3% at 37% 86%);}
#charles	{clip-path: circle(4% at 22% 44%);}
#claire		{clip-path: circle(5% at 60% 33%);}
#elina		{clip-path: circle(4% at 66% 23%);}
#elise		{clip-path: circle(5% at 55% 20%);}
#emmanuel	{clip-path: circle(4% at 60% 47%);}
#erwann		{clip-path: circle(5% at 75% 16%);}
#eugenie	{clip-path: circle(4% at 47% 19%);}
#guillaume	{clip-path: circle(3% at 64% 83%);}
#imane		{clip-path: circle(4% at 19% 36%);}
#joana		{clip-path: circle(5% at 81% 92%);}
#lana		{clip-path: circle(5% at 21% 83%);}
#laure		{clip-path: circle(3% at 36% 65%);}
#marie		{clip-path: circle(5% at 10% 78%);}
#maylis		{clip-path: circle(5% at 57% 7%);}
#ma			{clip-path: circle(3% at 28% 27%);}
#nicolas	{clip-path: circle(5% at 32% 47%);}
#ousama		{clip-path: circle(5% at 42% 91%);}
#pierre		{clip-path: circle(4% at 67% 67%);}
#sandrine	{clip-path: circle(3% at 59% 83%);}