:root{
	--c: #ad996d ;
	--f: invert(61%) sepia(6%) saturate(1862%) hue-rotate(3deg) brightness(100%) contrast(84%);;
}

body{
	margin:0;
	display:flex;
	height: 100vh;
	width:100vw;
	overflow: hidden;
	font-family: lato;
	text-align:center;
}

#wrapper{
	position: relative;
	overflow: scroll;
	flex-grow: 2;
	/* display: block; */
	ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
#wrapper::-webkit-scrollbar{
	 display: none;
}

#bg{display: none;}



#cover_screen{
	position:absolute;
	top: 0;
	left:0;
	height:100%;
	width:100%;
	background-color:white;
	background-image:url("poke2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background:none;
	display: flex;
	align-items: center;
	justify-content: center;
}

#cover_screen div{
	background: white;
	padding: 1em;
	border-radius: 1em;
	min-height: 60vh;
	display:flex;
	width: 25em;
	margin: 1em;
	border: solid 2px var(--c);
	flex-direction: column;
	}


#header, #sub_header{
	color:var(--c);
	margin: .5em;
}

#txt{
	display:block;
	flex-grow:2;
	text-align:justify;
}
#small_img{
	/* filter: var(--f); */
	display:inline-block;
	height: 4em;
}

button {
	display: none;
	outline:none;
	color:var(--c);
	background:white;
	cursor:pointer;
	border-radius:1em;
	padding:1em;
	
	border: solid 3px var(--c);
}

button:hover{
	background:var(--c);
	color:white;
}




@media (orientation: portrait) {}
